*
!\.bash_profile
!\.zlogin
!\.bashrc
!\.zshrc
!\.shrc
!\.alias
!\.functions
!\.gemrc
!\.gitconfig
!\.gitignore
!\.gitignore_global
!\.profile
!\.vimrc
!\download
!\bin
!\bin/*
!\.local
!\.local/share
!\.local/share/radiotray
!\.local/share/radiotray/bookmarks.xml
