[user]
	name = Michal Papis
	email = mpapis@gmail.com
	signingkey = BF04FF17
[dir]
[color]
	ui = auto
[core]
	pager = catless -RS
[alias]
	sync = !sh -c \"git push origin master && git push bitbucket master && git checkout stable && git push origin stable && git push bitbucket stable && git checkout master && git push origin --tags && git push bitbucket --tags\"
[projects]
	root = $HOME/projects
	depth = 2
[projects "day"]
	start = +3hour
	end = +8hour +1day
[push]
	default = current
[gui]
	commitmsgwidth = 72
[pre-commit]
	test2 = 5
[commit]
	gpgsign = true
