*
!\.bash_profile
!\.zlogin
!\.bashrc
!\.zshrc
!\.shrc
!\.alias
!\.functions
!\.gemrc
!\.gitconfig
!\.gitignore
!\.gitignore_global
!\.profile
!\.vimrc
!Documents/music/LetsMeditate/download.link
!Documents/music/LetsMeditate/download.sh
!\download
!\bin
!\bin/*
bin/extundelete
!\.config
!\.config/plasma-localerc
!\.config/plasma-locale-settings.sh
!\.local
!\.local/share
!\.local/share/radiotray
!\.local/share/radiotray/bookmarks.xml
